USE [master]
GO
/****** Object:  Database [EMPLOYEE]    Script Date: 12.01.2021 13:02:24 ******/
CREATE DATABASE [EMPLOYEE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EMPLOYEE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMPLOYEE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EMPLOYEE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\EMPLOYEE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EMPLOYEE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EMPLOYEE]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 12.01.2021 13:02:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [nvarchar](10) NULL,
	[surname] [nvarchar](10) NULL,
	[salary] [int] NULL,
	[gender] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[employees] ON 

INSERT [dbo].[employees] ([id], [firstname], [surname], [salary], [gender]) VALUES (1, N'fatma', N'karakaya', 4000, N'female')
INSERT [dbo].[employees] ([id], [firstname], [surname], [salary], [gender]) VALUES (2, N'fatih', N'kır', 8065, N'male')
INSERT [dbo].[employees] ([id], [firstname], [surname], [salary], [gender]) VALUES (3, N'hasan', N'kaya', 5000, N'male')
SET IDENTITY_INSERT [dbo].[employees] OFF
GO
USE [master]
GO
